.container {
  background-color: #252323;
  width: 100%;
  font-size: 24px;
}
.container p {
  color: #252323;
  margin: 0;
  text-align: center;
}
.container p span {
  color: red;
}

.box {
  height: auto;
}
.box a {
  color: blue;
}
.box a:hover {
  color: #252323;
}

.box_uno {
  background-color: #e2c020;
  width: 50%;
}

.box_dos {
  background-color: #75837b;
  width: 75%;
}

.box_tres {
  background-color: #e2c020;
  width: 33.3333333333%;
}

.box_cuatro {
  background-color: #75837b;
  width: 100%;
}

.container-button {
  background-color: #75837b;
}

.boton, .container-secuendario, .container-principal {
  font-size: 24px;
  border: none;
  cursor: pointer;
  border-radius: 3px;
  padding: 0.5em 0.8em;
}

.container-principal {
  background-color: blue;
}

.container-secuendario {
  background-color: red;
}